---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		createdAt?: string;
		updatedAt?: string;
		heroImage?: string;
		tags: string[];
		pub?: boolean;
	};
}

const {
	content: { title, description, heroImage, pub = true },
} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<Body>
		<Header />
		<main class="pt-[76px]">
			<Content className="mb-8">
				{pub && 
					<article>
						{heroImage && <img class="border border-slate-300 dark:border-zinc-700 rounded-xl" width={720} height={360} src={heroImage} alt="" />}
						<h1 class="text-3xl my-1 font-mplus">{title}</h1>
						<div class="">{description}</div>
						<hr class="border-top border-zinc-400 my-4"/> 
						<slot />
						<span class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500"></span>
					</article>
				}
			</Content>
		</main>
		<Footer />
	</Body>
</html>
